<link href="css/login.css" rel="stylesheet" type="text/css">

    
    <form method="POST" action="/create-session">
        
        <label>Email</label><br>
        <input type="email" class="form-control" name="email" placeholder="email"><br>
        <label>passcode</label><br>
        <input type="password" class="form-control" name="password" placeholder="password"<br><br>
        <input type="submit" class="btn btn-block button-glass mb-2" value="Login">
      
      </form>

      <p>
        <a href="/auth/google">gomgle sign in</a>
      </p>