
<body>
    
    <form method="POST" action="/create">
        <label>name</label><br>
        <input type="text" class="form-control" name="name" placeholder="name"><br>
        <label>Email</label><br>
        <input type="email" class="form-control" name="email" placeholder="email"><br>
        <label>passcode</label><br>
        <input type="password" class="form-control" name="password" placeholder="password"><br><br>
        <label>confirm passcode</label><br>
        <input type="password" class="form-control" name="confirmpassword" placeholder="password"><br><br>
        <input type="submit" class="btn btn-block button-glass mb-2" value="register">
      
      </form>

      <p>
        <a href="/auth/google">gomgle sign up</a>
      </p>
</body>
