#header-main{
    background-color: blueviolet;
    color: black;
    ul{
        display: flex;
        justify-content: space-around;
        li{
            
            align-items: center;
        }
    }
}

